body {
    text-align: center;
}

#brownbull {
        background:linear-gradient(deeppink 0%,#12044a 100%);
} 
h1 {
    font-family: cursive;
    font-size: 40px;
    color:white;
}
hr {
   height: 10px;
    background-color: black; 
}
.links:hover {
    background-color: white;
    color: black;
}

.links {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    position: center;
    color: white;
    margin: 50px;

}
.menu {
    list-style: none;
    font-family: fantasy;
    font-style: normal;
    font-size: 30px;
    top: 375px;
    right: 590px;
    position: fixed;
    cursor: pointer;
    z-index: 10;
}